@{
    ViewData["Title"] = @ViewLocalizer["page.title"];
}
<div class="container align-content-center">
    <div class="row text-center">
        <div class="col-6 mx-auto">
            <h2>@ViewLocalizer["page.header"]</h2>
            <div class="mt-3">
                @ViewLocalizer["page.sorry.text"] <a asp-controller="Account" asp-action="Signin">@ViewLocalizer["link.signin"]</a>.
            </div>
            <div class="mb-3">
                @ViewLocalizer["page.haveaccount.text"] <a asp-controller="Account" asp-action="Signup">@ViewLocalizer["link.signup"]</a>
            </div>
        </div>
    </div>
</div>