@using OnlineShopWebApp.Models

@model SigninViewModel

@{
    ViewData["Title"] = ViewLocalizer["page.title"];
}
<div class="container align-content-center">
    <div class="row text-center">
        <div class="col-4 mx-auto">
            <h2>@ViewLocalizer["page.header"]</h2>
            <form asp-action="Signin" asp-controller="Account" >
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                <div class="mb-3">
                    <input class="form-control" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="Password" type="password" placeholder=@ViewLocalizer["form.password.text"]>
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="true" name="rememberme">
                    <label class="form-check-label">
                       @ViewLocalizer["checkbox.text"]
                    </label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm active" asp-controller="Account" asp-action="Signin">@ViewLocalizer["button.signin"]</button>
                </div>
            </form>
            <div class="mb-3">
                @ViewLocalizer["page.haveaccount.text"] <a asp-controller="Account" asp-action="Signup" asp-route-returnUrl="@Model.ReturnUrl">@ViewLocalizer["link.signup"]</a>
            </div>
        </div>
    </div>
</div>